#
export OTEL_SERVICE_NAME="socks"
export OTEL_RESOURCE_ATTRIBUTES="env=local,runtime=golang,foo=bar"

# https://github.com/open-telemetry/opentelemetry-go/blob/1f5b159161e0ff54df4677284fa7d6718dc9186d/sdk/trace/sampler_env.go#L29-L34
export OTEL_TRACES_SAMPLER="traceidratio=1.0,parentbased_always_on"

export OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
export OTEL_EXPORTER_OTLP_PROTOCOL=grpc
